.user-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #fff;
}

.user-form-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.5rem 0;
}

.user-form label {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.user-form input {
    width: 100%;
}

.user-form-button-wrapper {
    display: flex;
    align-items: start;
}

.user-form-button-wrapper button {
    color: white;
    padding: 0.5rem 1rem;
    background-color: #4b0b52;
    border: 1px solid #55245c;
}
