.invalid-window {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #fff;
    text-align: left;
    position: absolute;
    width: 40%;
    left: 50% - transtateX(-50%);
    top: 50%;
    overflow: hidden;
}

.invalid-window header {
    color: #fff;
    background-color: #4b0b52;
    font-size: 2rem;
    padding: 0.5rem;
}

.invalid-window p {
    margin-left: 0.5rem;
}

.invalid-window div {
    text-align: right;
}

.invalid-window button {
    text-align: center;
    color: white;
    padding: 0.5rem 1rem;
    background-color: #4b0b52;
    border: 1px solid #55245c;
    margin: 0 1rem 0.5rem 0;
}